body {
    background: rgb(28,72,50);
    background: linear-gradient(270deg, rgba(28,72,50,1) 0%, rgba(9,111,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 0px;
    margin:0px;
    font-size: 15px;
    background-color: beige;
}

header {
    font-size: 150%;
    text-align:center;
    margin: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
    display: inline;
}

header img {
    vertical-align: middle;
    margin-bottom: 0.75em;
}

header h3{
    margin: 8px;
    font-style: italic;
    font-size: 120%;
}


#container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}

#textbox {
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    border: 10px cadetblue solid;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    outline: none;
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;
    
}

#textbox:focus {
    border-color: cornflowerblue;
    -moz-box-shadow:    5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    box-shadow:         5px 5px 10px #333;
    transition: 0.5s
}
