/* Setting up the body basics */

body {
    background: #EEEEEE;
    padding: 0px;
    margin:0px;
    height: 100vh;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Header Style */

header {
    min-height:110px;
    height: 10%;
    color: #1565C0;
    font-size: 140%;
    text-align:center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
    margin: 5px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
}

header img {
    display: inline-block;
    height: 100px;
    vertical-align: middle;
}

header h3{
    margin: 8px;
    font-style: italic;
    font-size: 120%;
}



/* Body Style Basics*/

#content {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    min-height: calc(100% - 25%);
    
}

.text-error{
    color:red;
}

.text-success{
    color:green;
}

.text-center{
    text-align: center;
}

.center {
    text-align: center;
}

.total-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#username {
    font-size: 120%;
    color: white;  
}

.title-bar {
  margin: 5px;
}

.icon {
    width: 25px;
    height: 25px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.fill-horizontal {
    width: 100%;
}

.icon:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.button-custom {
    cursor: pointer;
    background-color: #1565C0;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-size: 110%;
    margin: 2px 5px;


}

/*Password Panel style */

#password-content {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    color: white;
    min-height: calc(100% - 25%);
}

#password-content a{
    cursor: pointer;
    color: #555;
}

#password-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
    border-radius: 3px;
    border: 2px solid #1565C0;
}

#password-content img {

    align-self: center;
    margin: 10px;
}

#password-panel input[type="password"]
{
    font-size: 150%;
    padding: 10px;
}

#password-panel .panel-footer{
    margin: 10px;
}

/* Text Panel Style */

#text-panel {
    display: flex;
    flex-direction: column;
    width: 90%;
    resize: both;
    box-sizing: border-box;
    border: 2px solid #1565C0;
    border-radius: 3px;
    margin: 0 auto;
    outline: none;
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;
}

.panel-head{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 40px;
    background-color: #1565C0;
    padding: 5px;
}

.panel-body {
    display: flex;
    flex: 1;
    resize: both;
    flex-direction: column;
    position: relative;
}

#textbox {
    opacity: 0;
    display: block;
    flex: 1;
    margin: 0;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    resize: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    position: absolute;
    z-index: 2;
}

#text-panel:focus-within {
    border-color: #b84437;
    -moz-box-shadow:    5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    box-shadow:         5px 5px 10px #333;
    transition: 0.3s;
}

#text-panel:focus-within > .panel-head {
   background-color: #b84437;
}

#text-overlay{
    overflow: auto;
    font-size: 125%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* line-height: 125%; */
    /* pointer-events: none; */
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    height: 100%;
    flex: 1;
    position: absolute;
    z-index: 1;
    display: block;
    white-space: pre-wrap;

}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    font-size: 110%;
    color: white;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #1565C0;
    border-radius: 3px;
    outline: none;
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    width: 70%; /* Could be more or less, depending on screen size */
  }

  .modal-header {
    font-size: 110%;
    font-style: bold;
    padding: 5px;
    background-color: #1565C0;
  }

  .modal-footer {
    background-color: #ddd;
    padding: 5px;
  }

  .modal h3 {
      margin: 5px;
  }

  .modal-body ul {
    color: black;
  }

  .modal input[type="password"] {
      text-align: center;
      font-size: 120%;
      box-sizing: border-box;
      padding: 10px 5px;
      outline: none;
  }

  #modal_message {
      display: none;
      margin: 5px;
  }

  .colorRect {
    display: inline-block;
    margin: 0px 5px;
    border: 1px solid black;
    min-width: 10px;
    min-height: 10px;
    margin-bottom: 2px;
    vertical-align: middle;
  }

  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Footer Styles */

footer{
    height: 5%;
    margin: 50px 0 0 0;
    padding: 5px;
    background: #222222;
    color: white;
}

footer h4{
    vertical-align: middle;
    margin: 5px 0 0 0;
}

/* Media Queries */

@media screen and (max-width: 768px)
{
    body{
        font-size: 12px;
    }

    header{
        min-height: 60px;
        height:10%;
    }

    header img{
        height: 60px;
    }

    #textbox{
        font-size: 120%;
    }

    #text-panel{
        width:100%;
    }

    .colorRect {
      width: 8px;
      height: 8px;
    }


}


/* Keyframes */

@keyframes blinkcursor{
  
  from { opacity: 0; }
  to { opacity: 1; }
  
}

.blink-cursor{
  
  color: blue;
  border: 0.8px solid blue;
  animation: blinkcursor 0.5s linear 0s infinite alternate;
}

.blinking-cursor {
    width: 1px;
    border: 0.2px solid black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

