body {
    background: #EEEEEE;
    padding: 0px;
    margin:0px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    min-height:110px;
    height: 10%;
    color: #1565C0;
    font-size: 140%;
    text-align:center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
    margin: 5px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
}

header img {
    display: inline-block;
    height: 100px;
    vertical-align: middle;
}

header h3{
    margin: 8px;
    font-style: italic;
    font-size: 120%;
}


#content {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 70%;
    min-height: calc(100% - 25%);
    
}

.text-center{
    text-align: center;
}

.total-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textbox {
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    border-color:#1565C0;
    border-style: solid;
    border-width: 20px 1px 20px 1px;
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
    outline: none;
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;
    
}

#textbox:focus {
    border-color: rgb(184, 68, 55);
    -moz-box-shadow:    5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    box-shadow:         5px 5px 10px #333;
    transition: 0.3s;
}

footer{
    height: 5%;
    margin: 50px 0 0 0;
    padding: 5px;
    background: #222222;
    color: white;
}

footer h4{
    vertical-align: middle;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 768px)
{
    body{
        font-size: 10px;
    }

    header{
        min-height: 60px;
        height:10%;
    }

    header img{
        height: 60px;
    }

    #textbox{
        font-size: 120%;
        width:100%;
    }


}


